<ul class="glossary">
  {% for letter in letters %}
    <li>
      {% if letter.count %}
        {{ letter.link }}
      {% else %}
        <span>{{ letter.value }}</span>
      {% endif %}
    </li>
  {% endfor %}
</ul>
